<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
      <div class="card shadow">
        <div class="card-body py-5">
          <div class="d-flex mb-2">
            <figure class="mb-0 mr-2">
              <%= gravatar_image_tag(@twit.user.email, size: 32, alt: @twit.user.name, class: "rounded-circle av-48") %>
            </figure>
            <div>
              <h6 class="card-title fw-bold mb-0 lh-1"><%= @twit.user.name %></h6>
              <small class="fw-light lh-0">@<%= @twit.user.username %></small>
            </div>
          </div>
          <p>
            <strong>Twit:</strong>
            <%= @twit.body %>
          </p>

          <p class="fw-light">
            <%= link_to 'Edit', edit_twit_path(@twit) %> |
            <%= link_to 'Back', twits_path %> |
            <%= link_to 'Delete', @twit, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-danger text-decoration-none" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
